<div class="table-container">

    <div class="headers">
        <div class="header" *ngFor="let column of data.columns" [ngStyle]="{ 'min-width': column.width ? column.width : 'auto' }">
            {{ column.title }}
        </div>
    </div>

    <div class="rows">

        <div class="row" *ngFor="let row of data.rows">

            <div class="column" *ngFor="let column of data.columns" 
            [ngClass]="{ 
                image: column.type === 'Image',
                html: column.type === 'Html'
            }"
            [ngStyle]="{ 'min-width': column.width ? column.width : 'auto' }">


                <ng-container *ngIf="column.type === 'Image'" >
                    <div class="flex"></div>
                    <img [src]="row[column.key]"/>
                    <div class="flex"></div>
                </ng-container>

                <ng-container *ngIf="column.type === 'Text'">{{ row[column.key] }}</ng-container>
                <ng-container *ngIf="column.type === 'Number'">{{ row[column.key] | number:'1.0':'en-US' }}</ng-container>
                <div *ngIf="column.type === 'Html'" [innerHTML]="row[column.key]"></div> 
                <ng-container *ngIf="column.type === 'Date'">{{ row[column.key] | date:"dd/MM/yyyy" }}</ng-container>

            </div>

        </div>

    </div>



</div>

