@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap')


/* Dimensions */
$header-height: 60px
$nav-height: 50px

$filters-height: calc(100vh - #{$header-height})
$filters-width: 150px

/* Fonts */
$main-font: 'Quicksand', sans-serif

/* Margins */
$margin-s: 5px
$margin-m: 10px
$margin-l: 25px


/* Colours */
$light-grey: #c8c8c8
$mid-grey: #888
$dark-grey: #484848
$light-blue: #bdddf4