<div class="filter-bar">

    <div class="heading">
        <div class="flex">Filters</div>
        <div class="button" (click)="_manager.clearFilters()" hovercard message="Clear all filters">Clear</div>
    </div>
    <div class="filters-container">

        <input type="text" placeholder="Filter by text..." (input)="_manager.setFilterTerm($event.target.value)"/>

        <div class="filter-head">
            <div class="flex">Sources</div>
            <div class="button" (click)="_manager.clearDataSourceFilters()" hovercard message="Clear source filters">Clear</div>
        </div>

        <result-filter *ngFor="let source of _manager.getSources()" 
        (click)="_manager.toggleShowDataSource(source.source)"
        [hidden]="_manager.isHiddenDataSource(source.source)"
        [icon]="'assets/images/icons/data-sources/' + source.source + '.png' | encodeUri" 
        [name]="source.source" 
        [count]="source.ids.length"></result-filter>

        <div class="filter-head">
            <div class="flex">Data Types</div>
            <div class="button" (click)="_manager.clearDataTypeFilters()" hovercard message="Clear data type filters">Clear</div>
        </div>
        <result-filter *ngFor="let type of _manager.getDataTypes()"
        (click)="_manager.toggleShowDataType(type.type)"
        [name]="type.type"
        [hidden]="_manager.isHiddenDataType(type.type)"
        [count]="type.ids.length"></result-filter>

    </div>


    <progress-tracker></progress-tracker>

</div>