<div class="filter-bar">

    <div class="filters-container">
        <result-filter type="phone number"></result-filter>
        <result-filter type="address"></result-filter>
        <result-filter type="business"></result-filter>
        <result-filter type="individual"></result-filter>
        <result-filter type="social media"></result-filter>
        <result-filter type="email address"></result-filter>
        <result-filter type="liscense plate"></result-filter>
    </div>


    

    <progress-tracker></progress-tracker>

</div>