<nav class="searchio-nav">

    <div class="scroll-button left" (click)="scroll(-500)" [ngClass]="{hidden: !scrolledRight()}">⯇</div>
    <div class="scroll-button right" (click)="scroll(500)" [ngClass]="{hidden: !scrolledLeft()}">⯈</div>

    <div class="tab-container" #scroller>

        <div class="item" *ngIf="_manager.getQueryTabs().length === 0">
            <div class="name">No active queries...</div>
        </div>

        <div class="item" 
        *ngFor="let query of _manager.getQueryTabs()" 
        [ngClass]="{ selected: _manager.getActiveQuery() === query}"
        (click)="onButtonClick($event, query)">
            <div class="name">{{ query }}</div>
            <div class="close">🗙</div>
        </div>
    </div>

    



</nav>