@import "../../utilities/variables"
    

    

.query-result

    padding: $margin-s
    line-height: $result-line-height
    border-bottom: 1px solid $light-grey
    background: white

    .non-table
        display: flex
        flex-direction: row

    .name
        width: $result-name-width
        font-weight: 600
    
    .data
        flex: 1

    data-table
        width: 100%


img
    max-height: 300px
    max-width: 300px