@import "../../utilities/variables"
    
$min-result-height: 50px
    
.query-result
    min-height: $min-result-height
    border-bottom: 1px solid $light-grey
    background: white
    border-radius: $margin-s