@import "utilities/variables"

@viewport
    width: 100vw
    height: 100vh


body
    margin: 0
    font-family: $main-font

input
    font-family: $main-font

.flex
    flex: 1

.sbs

    display: flex
    flex-direction: row

    *
        display: block